<!DOCTYPE html>
<html th:fragment="layout(content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.4/examples/jumbotron/jumbotron.css"/>

    <title>Spring Security Example</title>
</head>
<body>

<nav th:replace="~{fragments/navigation :: navigation}">
</nav>

<main th:replace="~{fragments/main :: main(${content})}">
</main>

</body>
</html>