<div class="container">
  <h3 class="media-heading">{{editMode? 'Edit Order': 'Open Order'}}</h3>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8">
      <form [formGroup]="orderSubmitForm">
        <div class="col-xs-12" style="margin-bottom: 20px">
          <div class="row">
            <div class="col-xs-3">
              <label for="action">Action</label>
              <select
                id="action"
                formControlName="action"
                class="form-control">
                <option value="BUY">Buy</option>
                <option value="SELL">Sell</option>
              </select>
            </div>
            <div class="col-xs-2">
              <label for="totalQuantity">Quantity</label>
              <input
                type="number"
                id="totalQuantity"
                formControlName="totalQuantity"
                class="form-control">
            </div>
            <div class="col-xs-3">
              <label for="orderType">Order Type</label>
              <input
                type="text"
                id="orderType"
                formControlName="orderType"
                class="form-control">
            </div>
            <div class="col-xs-2">
              <label for="limitPrice">Limit Price</label>
              <input
                [disabled]=""
                type="number"
                id="limitPrice"
                formControlName="limitPrice"
                class="form-control">
            </div>
            <div class="col-xs-2">
              <label for="timeInForce">TIF</label>
              <input
                type="text"
                id="timeInForce"
                formControlName="timeInForce"
                class="form-control">
            </div>
          </div>
        </div>

        <!--        CONTRACT DATA -->
        <h4> Contract Data</h4>
        <div formGroupName="contractData" class="row">
          <div class="row">
            <div class="col-xs-12" style="margin-bottom: 10px">
              <div class="col-xs-3">
                <label for="contractId">Contract Id</label>
                <input
                  type="number"
                  id="contractId"
                  formControlName="contractId"
                  class="form-control">
              </div>
              <div class="col-xs-2">
                <label for="symbol">Symbol</label>
                <input
                  type="text"
                  id="symbol"
                  formControlName="symbol"
                  class="form-control">
              </div>
              <div class="col-xs-2">
                <label for="securityType">Sec Type</label>
                <input
                  type="text"
                  id="securityType"
                  formControlName="securityType"
                  class="form-control">
              </div>
              <div class="col-xs-2">
                <label for="currency">Currency</label>
                <input
                  type="text"
                  id="currency"
                  formControlName="currency"
                  class="form-control">
              </div>
              <div class="col-xs-3">
                <label for="exchange">Exchange</label>
                <input
                  type="text"
                  id="exchange"
                  formControlName="exchange"
                  class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-offset-1 col-md-offset-1">
              <h5>For Derivatives: </h5>
              <div class="col-xs-3">
                <label for="lastTradeDate">Last Trade Date</label>
                <input
                  type="text"
                  id="lastTradeDate"
                  formControlName="lastTradeDate"
                  class="form-control">
              </div>
              <div class="col-xs-2">
                <label for="strike">Strike</label>
                <input
                  type="number"
                  id="strike"
                  formControlName="strike"
                  class="form-control">
              </div>
              <div class="col-xs-2">
                <label for="right">Put/Call</label>
                <select
                  id="right"
                  formControlName="right"
                  class="form-control">
                <option value="None">None</option>
                <option value="Call">Call</option>
                <option value="Put">Put</option>
                </select>
              </div>
              <div class="col-xs-3">
                <label for="tradingClass">Trading Class</label>
                <input
                  type="text"
                  id="tradingClass"
                  formControlName="tradingClass"
                  class="form-control">
              </div>
              <div class="col-xs-4">
                <label for="localSymbol">Local Symbol</label>
                <input
                  type="text"
                  id="localSymbol"
                  formControlName="localSymbol"
                  class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-10 pull-right" formArrayName="comboLegs">
              <div
                class="row"
                *ngFor="let comboLegControl of getComboLegControls(); let i = index"
                [formGroupName]="i"
                style="margin-top: 10px">
                <div class="col-xs-3">
                  <label *ngIf="i===0" for="{{i}}comboContractId">ContractId</label>
                  <input
                    id="{{i}}comboContractId"
                    type="number"
                    class="form-control"
                    formControlName="contractId">
                </div>
                <div class="col-xs-2">
                  <label *ngIf="i===0" for="{{i}}ratio">Ratio</label>
                  <input id="{{i}}ratio" type="number" class="form-control" formControlName="ratio">
                </div>
                <div class="col-xs-2">
                  <label *ngIf="i===0" for="{{i}}side">Buy/Sell</label>
                  <input id="{{i}}side" type="text" class="form-control" formControlName="side">
                </div>
                <div class="col-xs-3">
                  <label *ngIf="i===0" for="{{i}}comboExchange">Exchange</label>
                  <input id="{{i}}comboExchange" type="text" class="form-control" formControlName="exchange">
                </div>
                <div class="col-xs-2">
                  <br *ngIf="i===0" style="padding-top: 5px">
                  <button class="btn btn-danger" type="button" (click)="onDeleteComboLeg(i)">X</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12" style="margin-top: 10px">
                  <button class="btn btn-default glyphicon-plus pull-right" type="button" (click)="onAddComboLeg()"> Combo Leg
                  </button>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="form-group col-xs-2">
              <button type="submit" class="btn btn-primary" [disabled]="!orderSubmitForm.valid || !orderSubmitForm.touched" (click)="onSubmit()">{{editMode? 'Update Order': 'Place Order'}}</button>
            </div>
            <div class="form-group col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onCancel()">Reset</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
