<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="orderSubmitForm">
          <div class="col-xs-12" style="margin-bottom: 20px">
            <div class="row">
              <div class="col-xs-3">
                <label for="action">Action</label>
                <select
                  id="action"
                  formControlName="action"
                  class="form-control">
                  <option value="buy">Buy</option>
                  <option value="buy">Sell</option>
                </select>
              </div>
              <div class="col-xs-2">
                <label for="totalQuantity">Quantity</label>
                <input
                  type="number"
                  id="totalQuantity"
                  formControlName="totalQuantity"
                  class="form-control">
              </div>
              <div class="col-xs-3">
                <label for="orderType">Order Type</label>
                <input
                  type="text"
                  id="orderType"
                  formControlName="orderType"
                  class="form-control">
              </div>
              <div class="col-xs-2">
                <label for="limitPrice">Limit Price</label>
                <input
                  type="text"
                  id="limitPrice"
                  formControlName="limitPrice"
                  class="form-control">
              </div>
              <div class="col-xs-2">
                <label for="timeInForce">TIF</label>
                <input
                  type="text"
                  id="timeInForce"
                  formControlName="timeInForce"
                  class="form-control">
              </div>
            </div>
          </div>

        <!--        CONTRACT DATA -->
        <h3> Contract Data</h3>
        <div formGroupName="contractData">
          <div class="col-xs-12" style="margin-bottom: 10px">
          <div class="col-xs-3">
            <label for="contractId">Contract Id</label>
            <input
              type="text"
              id="contractId"
              formControlName="contractId"
              class="form-control">
          </div>
          <div class="col-xs-2">
            <label for="symbol">Symbol</label>
            <input
              type="text"
              id="symbol"
              formControlName="symbol"
              class="form-control">
          </div>
          <div class="col-xs-2">
            <label for="securityType">Sec Type</label>
            <input
              type="text"
              id="securityType"
              formControlName="securityType"
              class="form-control">
          </div>
          <div class="col-xs-2">
            <label for="currency">Currency</label>
            <input
              type="text"
              id="currency"
              formControlName="currency"
              class="form-control">
          </div>
          <div class="col-xs-3">
            <label for="exchange">Exchange</label>
            <input
              type="text"
              id="exchange"
              formControlName="exchange"
              class="form-control">
          </div>
          </div>
          <div style="margin-left: 20px">
          <h4 class="form-group">For Derivatives: </h4>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-3">
              <label for="lastTradeDate">Last Trade Date</label>
              <input
                type="text"
                id="lastTradeDate"
                formControlName="lastTradeDate"
                class="form-control">
            </div>
            <div class="col-xs-2">
              <label for="strike">Strike</label>
              <input
                type="number"
                id="strike"
                formControlName="strike"
                class="form-control">
            </div>
            <div class="col-xs-2">
              <label for="right">Put/Call</label>
              <input
                type="number"
                id="right"
                formControlName="right"
                class="form-control">
            </div>
            <div class="col-xs-3">
              <label for="tradingClass">Trading Class</label>
              <input
                type="text"
                id="tradingClass"
                formControlName="tradingClass"
                class="form-control">
            </div>
            <div class="col-xs-4">
              <label for="localSymbol">Local Symbol</label>
              <input
                type="text"
                id="localSymbol"
                formControlName="localSymbol"
                class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12" formArrayName="comboLegs">
              <div
                class="row"
                *ngFor="let comboLegControl of getComboLegControls(); let i = index"
                [formGroupName]="i"
                style="margin-top: 10px">
                <div class="col-xs-4">
                  <input
                    type="number"
                    class="form-control"
                    formControlName="contractId">
                </div>
                <div class="col-xs-2">
                  <input type="number" class="form-control" formControlName="ratio">
                </div>
                <div class="col-xs-2">
                  <input type="text" class="form-control" formControlName="side">
                </div>
                <div class="col-xs-2">
                  <input type="text" class="form-control" formControlName="exchange">
                </div>
                <div class="col-xs-2">
                  <button class="btn btn-danger" type="button" (click)="onDeleteComboLeg(i)">X</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12" style="margin-top: 10px">
                  <button class="btn btn-success" type="button" (click)="onAddComboLeg()">Add Combo Leg</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
