<div class="row" style="margin-bottom: 10px">
  <div class="col-xs-12">
    <a
      style="cursor: pointer; border: transparent"
      routerLinkActive="active">
      <div class="row">
        <div class="col-xs-12">
          <div class="row" *ngFor="let tick of optionTicker.data">

            <p class="list-group-item-text col-xs-4">{{tick.field | fieldname}} : {{tick.optPrice | number: "1.0-2" | notavailable}}</p>
            <p class="list-group-item-text col-xs-2">&Delta;: {{tick.delta | number: "1.0-2" | notavailable}}</p>
            <p class="list-group-item-text col-xs-2">&Gamma;: {{tick.gamma | number: "1.0-2" | notavailable}}</p>
            <p class="list-group-item-text col-xs-2">&Theta;: {{tick.theta | number: "1.0-2" | notavailable}}</p>
            <p class="list-group-item-text col-xs-2">I/V: {{tick.impliedVol | number: "1.0-2" | notavailable}}</p>
            <br>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
