
<div class="row" [formGroup]="getOrderForm()" >
  <div class="col-xs-10 pull-right" formGroupName="contractDBO">
    <div formArrayName="comboLegs">
    <div
      class="row"
      *ngFor="let comboLegControl of getComboLegControls(); let i = index"
      [formGroupName]="i"
      style="margin-top: 10px">
      <div class="col-xs-3">
        <label *ngIf="i===0" for="{{i}}comboContractId">ContractId</label>
        <input
          id="{{i}}comboContractId"
          type="number"
          class="form-control"
          formControlName="contractId">
      </div>
      <div class="col-xs-2">
        <label *ngIf="i===0" for="{{i}}ratio">Ratio</label>
        <input id="{{i}}ratio" type="number" class="form-control" formControlName="ratio">
      </div>
      <div class="col-xs-2">
        <label *ngIf="i===0" for="{{i}}action">Buy/Sell</label>
        <input id="{{i}}action" type="text" class="form-control" formControlName="action">
      </div>
      <div class="col-xs-3">
        <label *ngIf="i===0" for="{{i}}comboExchange">Exchange</label>
        <input id="{{i}}comboExchange" type="text" class="form-control" formControlName="exchange">
      </div>
      <div class="col-xs-2">
        <br *ngIf="i===0" style="padding-top: 5px">
        <button class="btn btn-danger" type="button" (click)="onDeleteComboLeg(i)">X</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" style="margin-top: 10px">
        <button class="btn btn-default glyphicon-plus pull-right" type="button" (click)="onAddComboLeg()"> Combo Leg
        </button>
      </div>
    </div>
    </div>
  </div>
</div>
