<a style="cursor: pointer" class="list-group-item clearfix"style="{{portfolio.profitAndLoss.dailyPnL >0 ? 'background-color: green; color:black' : 'background-color: darkred; color: white'}}">
  <div>
    <h4 style="color:white" class="list-group-item-heading">{{portfolio.position.contractData.localSymbol}}</h4>
    <div class="col-xs-6">
      <div class="row">
        <p class="list-group-item-text col-xs-6">Position: {{portfolio.position.position}}</p>
      </div>
      <div class="row">
        <p class="list-group-item-text col-lg-6">Average Cost: {{portfolio.position.averageCost | currency}}</p>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <p class="list-group-item-text col-xs-6">Daily: {{portfolio.profitAndLoss.dailyPnL | number: "1.0-2"}}</p>
      </div>
      <div class="row">
        <p class="list-group-item-text col-lg-6">Unrealized: {{portfolio.profitAndLoss.unrealizedPnL | number: "1.0-2"}}</p>
      </div>
      <div class="row">
        <p class="list-group-item-text col-lg-6">Market Value: {{portfolio.profitAndLoss.currentValue | number: "1.0-2"}}</p>
      </div>
    </div>
  </div>
</a>
