<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a href="#" class="navbar-brand">IBKR API</a>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">

      <div class="navbar-default">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/orders">Orders</a></li>
          <li routerLinkActive="active"><a routerLink="/portfolio">Portfolio</a></li>
          <li routerLinkActive="active"><a routerLink="/market-data">Market Data</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" appDropdown>
            <a style="cursor: pointer" class="dropdown-toggle" role="button">Manage <span class="caret"></span> </a>
            <ul class="dropdown-menu">
              <li><a [ngClass]="{'disabled': isConnected}" (click)="onConnect(true)">Connect</a></li>
              <li><a [ngClass]="{'disabled': !isConnected}" (click)="onConnect(false)">Disconnect</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
