<div class="row" [formGroup]="getStrategyForm()" >
  <div class="col-xs-10 pull-right">
    <div formArrayName="strategyLegs">
      <div
        class="row"
        *ngFor="let comboLegControl of getStrategyLegControls(); let i = index"
        [formGroupName]="i"
        style="margin-top: 10px">
        <div class="col-xs-3">
          <label *ngIf="i===0" for="{{i}}right">Call/Put</label>
          <select
            id="{{i}}right"
            formControlName="right"
            class="form-control">
            <option value="Call">Call</option>
            <option value="Put">Put</option>
          </select>
        </div>
        <div class="col-xs-2">
          <label *ngIf="i===0" for="{{i}}action">Buy/Sell</label>
          <select id="{{i}}action" type="text" class="form-control" formControlName="action">
            <option value="BUY">Buy</option>
            <option value="SELL">Sell</option>
          </select>
        </div>
        <div class="col-xs-2">
          <label *ngIf="i===0" for="{{i}}ratio">Ratio</label>
          <input id="{{i}}ratio" type="number" class="form-control" formControlName="ratio">
        </div>
        <div class="col-xs-3">
          <label *ngIf="i===0" for="{{i}}strike">Strike</label>
          <input id="{{i}}strike" type="text" class="form-control" formControlName="strike">
        </div>
        <div class="col-xs-2">
          <br *ngIf="i===0" style="padding-top: 5px">
          <button class="btn btn-danger" type="button" (click)="onDeleteStrategyLeg(i)">X</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="margin-top: 10px">
          <button class="btn btn-default glyphicon-plus pull-right" type="button" (click)="onAddStrategyLeg()"> Strategy Leg
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
