<div class="row" style="margin-bottom: 10px">
  <div class="col-xs-12">

  </div>
  <div class="col-xs-12 ">
    <a
      style="cursor: pointer; border: transparent"
      routerLinkActive="active"
      class="list-group-item clearfix">
      <button class="btn btn-danger pull-right top-right" type="button" (click)="onCancelMarketData()">X</button>
      <div class="row">
        <div *ngIf="contract">
        <h4 class="list-group-item-heading">{{contract.lastTradeDate? contract.symbol + ' ' + contract.lastTradeDate: contract.symbol}}</h4>
        <div *ngFor="let comboLeg of contract.comboLegs">
          <div class="row">
            <app-combo-leg-data-display [comboLeg]="comboLeg"></app-combo-leg-data-display>
          </div>
        </div>
        <div class="row" *ngFor="let tick of ticker.data">

          <p class="list-group-item-text col-xs-6">{{tick.field | fieldname}} : {{tick.price | currency}}</p>
        </div>
      </div>
      </div>

      <app-option-market-data-item *ngIf="optionTicker" [optionTicker]="optionTicker" [contract]="contract"></app-option-market-data-item>

    </a>
  </div>
</div>
