<div class="row" style="margin-bottom: 10px">
  <div class="col-xs-12">

  </div>
  <button class="btn btn-danger pull-right top-right" type="button" (click)="onCancelMarketData()">X</button>
  <div class="col-xs-12 list-group-item">
    <a
      style="cursor: pointer; border: transparent"
      routerLinkActive="active"
      class="list-group-item clearfix">
      <div class="row">
        <div>
          <h4 class="list-group-item-heading">{{contract.localSymbol}}</h4>
          <div class="row" *ngFor="let tick of ticker.data">

          <p class="list-group-item-text col-xs-6">{{tick.field}} : {{tick.price | currency}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
