<a class="list-group-item clearfix"
   [@position]="state"
   (click)="onClick()"
   style="cursor: pointer"
   [ngClass]="{'': !isPnLready(), 'green': isPnLready()&&isDailyProfit ,'red': isPnLready()&&!isDailyProfit}">
  <div>
    <h4 style="color:white" class="list-group-item-heading">{{position.contractData.localSymbol}}</h4>
    <div class="col-xs-6">
      <div class="row">
        <p class="list-group-item-text col-xs-6">Position: {{position.position}}</p>
      </div>
      <div class="row">
        <p class="list-group-item-text col-xs-6">Average Cost: {{position.averageCost | currency}}</p>
      </div>
    </div>
    <div class="col-xs-6" *ngIf="isPnLready()">
      <div class="row">
        <p class="list-group-item-text">Daily: {{daily | number: "1.0-2" | notavailable}}</p>
      </div>
      <div class="row">
        <p class="list-group-item-text">Unrealized: {{unrealized | number: "1.0-2" | notavailable}}</p>
      </div>
      <div class="row">
        <p class="list-group-item-text">Market Value: {{marketValue | number: "1.0-2" | notavailable}}</p>
      </div>
    </div>
    <app-combo-position-item *ngIf="position.contractData.comboLegs.length>0"
                             [profitAndLoss]="profitAndLoss"
                             [position]="position">

    </app-combo-position-item>
  </div>
</a>
